/* use https://colorhunt.co/palette/363062435585818fb4f5e8c7 for the colors */

header {
background: #435585;
padding: 20px;
margin: -8px;
}

header h1 {
display: inline;
color: #F5E8C7;
outline: 10px black;
margin-right: 30%;
}

nav {
display: inline;
margin: auto;
text-align: center;
}

nav ul {
display: inline;
padding: 10px;
float: center;
}

nav li {
display: inline;
margin: 0px 1vw;
}

nav li:last-child {
    float: right;
    margin-top: 10px;
}

nav a {
text-decoration: none;
color: #F5E8C7;
text-align: center;
width: 130px;
padding: 10px;
}

ul li a:hover{
    background-color: #363062;
    border: 2px solid #F5E8C7;
    border-radius: 15px;
}

/* Main content here */

#wrapper_div {
    margin-top: 10vh;

}

#create_div {
    text-align: center;
    display: inline;
    float: inline-start;
    margin-left: 15vw;
    width: 15vw;
    padding: 10px 5%;
    margin-right: 30vw;
    background: #363062;
    border-radius: 50px;
}

div#create_div form {
    display: inline;
}

div#create_div label {
display: block;
color: #F5E8C7;
margin-top: 15px;
}

#input_div {
    display: block;
    padding-top: 3px;
    margin-bottom: 50px;


}

div#input_div form {
    display: inline;
}

div#input_div label {
display: block;
}
